
---
<center><h1><b>Welcome to your first task with ML in Support'ASU</b></h1></center>

---
<br>

This task's objective is to get you familiar with python's and ML libraries syntax



- Let's start with importing the libraries, Run The following cell.

In [1]:
import numpy as np
import pandas as pd
import time as t

# **Booleans & Functions**

- Let's begin with a comparison operater, we will make a simple function that takes a number and return true if it is odd and false if it is even.
- if the number is odd, the modulus of the division of the number over 2 will be 1.
- Run the following cell to try.

In [2]:
def isOdd(n):
  return (n % 2) == 1

print("Is 50 odd? ", isOdd(50))
print("Is 11 odd? ", isOdd(11))

Is 50 odd?  False
Is 11 odd?  True

- Let's try it yourself by creating a function test if the number is even or not.
- Uncomment the two print lines to see the outputs.

In [3]:
def isEven(n):
         ## write your code here ###
  return (n%2)==0
         ## your code ends here ###

print("Is 12 even? ", isEven(12))
print("Is 99 even? ", isEven(99))

Is 12 even?  True
Is 99 even?  False

# **Conditions & Loops**

- Let's see how the if condition looks like in Python.
- The following function check whether the number is positiver or negative or zero.
- Run the following cell to test it.

In [4]:
def inspect(number):
  if number == 0:
    print(number," is zero.")
  elif number > 0:
    print(number," is positive.")
  else:
    print(number," is negative.")


inspect(5)
inspect(-15)
inspect(0)

5  is positive.
-15  is negative.
0  is zero.

- Now, let's see how the for loop looks like in python.
- the following cell is simple, it will print the numbers from 0 to 9 when you run it.

In [5]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

- Now, it's your turn, use the following cell to write a for loop from 0 to 10 and print if the number is odd or even.

In [6]:
### write your code here ###
for n in range(0,10):
  if (n %2 )==0 :
    print("Number is even")
  else :
     print("Number is odd")

Number is even
Number is odd
Number is even
Number is odd
Number is even
Number is odd
Number is even
Number is odd
Number is even
Number is odd

# **Lists, Tuples and Dictionaries**

- Let's begin with lists, list is a sequence of values as arrays in c++ and other programming languages.
- Let's see how we initialize a list in Python

In [7]:
primes = [2,3,5,7,11]

- indexing in Python is zero based as in arrays, Let's try it.
- In the following cell, print the second element from the primes' array which is 3.

In [8]:
### write your code here ###
print (primes[1])

3

- Let's see a Python trick in lists in the following cell.
- what if we want to access the last two elements of the list and print them and we don't know the length of the list, let's see how we can do that.

In [9]:
print(primes[-1])
print(primes[-2])

11
7

- Now, let's see a 2d list in Python and it's indexing.

In [10]:
matrix = [[1,3,5],
          [2,4,6],
          [1,8,7]]

print("matrix first element is: ",matrix[0][0])

matrix first element is:  1

- Try it yourself and print the last element of the matrix in the following cell.

In [11]:
### write your code here ###
print("matrix first element is: ",matrix[-1][-1])
print("matrix first element is: ",matrix[2][2])

matrix first element is:  7
matrix first element is:  7

**Slicing in Lists**

- what if we want to print the first 3 primes from the primes list and the first two columns in the 2D matrix, let's see how we can do that in the following cell.

In [15]:
print("The first three primes are ", primes[0:3])
print("The first two columns of the matrix are ",matrix[:,0:2])

The first three primes are  [2, 3, 5]
The first two columns of the matrix are  [[1, 3, 5], [2, 4, 6], [1, 8, 7]]

- Don't worry about the error, we will understand slicing in 2D and fix the error in later section.
- in the following cell, try by yourself to slice the last three elements of the primes list

In [ ]:
### write your code here ###
print("The last three primes are ", primes[-1] , primes[-3:-1])
print("The last three primes are ", primes[2:])
print("The last three primes are ", primes[len(primes)-3:])

- There are some functions to help you with lists:
      1- To get max or min element in the list, we can use min() or max() functions.
      2- To get length of list, we can use len() function.
      3- To add new element, we can use append() function in the format of listName.append(value).
      4- To find index of some value, we can use index() function in the format of listName.index(value).

- Let's see a code example in the following cell.

In [ ]:
print("Length of the primes list is: " , len(primes))
print("Minimum element of the primes list is: " , min(primes))
print("Maximum element of the primes list is: " , max(primes))
print("index of 5 in the primes list is: " , primes.index(5))

- In the following cell, try by yourself to add the next prime number to the list which is 13 and print it's index after that.

In [ ]:
### write your code here ###
primes.append(13)
print(primes.index(13))

**List Comprehensions**

- If we want to filter a list and get all even numbers of it in another list, we will do as the following cell do.

In [ ]:
List = [0,1,2,3,4,5,6,7,8,9]
evenList = []

for i in List:
  if i % 2 == 0:
    evenList.append(i)

print(evenList)

- What if we have a way to do it in one line, it's a cool thing,isn't it?
- Let's see how in the next cell

In [ ]:
evenListComprehension = [element for element in List  if element % 2 == 0]

print(evenListComprehension)

- Let's try it by yourself, create an odd list by the same way.

In [ ]:
### write your code here ###
oddListComprehension = [element for element in List  if element % 2 == 1]

print(oddListComprehension)

**Tuples**

- Tuples are almost exactly the same as lists. They differ in just two ways:
     1.  The syntax for creating them uses parentheses instead of square 
brackets.
     2. They cannot be modified (they are immutable).

In [ ]:
Tuple = (1,2,3)
print(Tuple)
Tuple[0] = 0

**Dictionaries**

- Dictionaries are a built-in Python data structure for mapping keys to values.
- Let's see an example in the following cell

In [ ]:
d = {"One": 1 , "Two":2 , "Three":3}

- So, we can use the key to access the value instead of the index.
- Try it yourself in the next cell and print number 2

In [ ]:
### write your code here ###
d["Two"]

- If you want to add element you can do it in the following form.

In [ ]:
d["Ten"] = 10
d

- Try to add element by yourself in the next cell.

In [ ]:
### write your code here ###
d['fifty']=50
d

# **Numpy**

- Numpy is a Python library that simplify and deal with mathematical operations.
- Let's start with initializing Numpy array

In [ ]:
a = np.arange(10)
a

- Now, Let's try to initialize a matrix of shape 5*5 with random numbers

In [ ]:
matrix1 = np.random.rand(5,5)
matrix1

- The function **np.random.rand()** give as a random values between [0,1], there as another function called **np.random.randn** gives a values between [-1,1].
- Let's, initialize another matrix with shape 5*2 but this time with zeros.

In [ ]:
matrix2 = np.zeros((5,2))
matrix2

- Now, we want from you to write a code of matrix multiplication in the following cell using the ordinary for loops to multiply matrix1 and matrix2

In [ ]:
resultMatrix =  [[0,0],[0,0],[0,0],[0,0],[0,0]]
startTime = t.time()
### write your code here ###
for rows in range(len(matrix1)):
   for cols in range(len(matrix2[0])):
      for cols2 in range(len(matrix2)) :
          resultMatrix[rows][cols]+=matrix1[rows][cols2]*matrix2[cols2][cols]
### your code ends here ###

print("Result matrix is ", resultMatrix)
print("The execution time is: ",(t.time() - startTime))

- Let's see the difference in time if we use the dot function in Numpy.

In [ ]:
startTime = t.time()

resultMatrix = np.dot(matrix1,matrix2)

print("Result matrix is ", resultMatrix)
print("Matrix DataType is ", type(resultMatrix))
print("The execution time is: ",(t.time() - startTime))

- You will see the difference in time between the two approaches in larger 
matrices multiplication.
- You can see that the dataType of the result matrix is a Numpy array.
- Now, remember 2D slicing from the Lists section, let's try to slice the resultMatrix in the following cell by yourself.
- Print the first two rows of the matrix and in another line, print the first three columns.

In [ ]:
### write your code here ###

- So, how can we initialize a Numpy array, we use the function **np.array()** and gave it the list that we want.
- In the next section try to make two matrices using Numpy array by yourself.
- Make the first matrix with values **[1,3,5,7,9]** and the second with values **[[1,2,3]**,
 **[4,5,6]]**.

In [ ]:
## write your code here ###
numpyMatrix1 = np.array([1,3,5,7,9])
numpyMatrix2 = np.array( [[1,2,3], [4,5,6]])
## your code ends here ###

- Let's see the shapes of our two arrays, uncomment the following print lines and run the cell.

In [ ]:
print(numpyMatrix1.shape)
print(numpyMatrix2.shape)

- You can see the shape of the 1D array is (5,).
- So, the problem is that Numpy treats it as a 1d array not a matrix.
- When you use it in a matrix multiplication, it will give you an error. So, the solution is that we will use a function called **np.reshape()** and give it the new shape which is (5,1).
- Try it by yourself in the next cell, use the reshape function then print the matrix shape to make sure the shape has been fixed.

In [ ]:
### write your code here ###
numpyMatrix1=numpyMatrix1.reshape(5,1)
print(numpyMatrix1.shape)
print(numpyMatrix2.shape)

# **Pandas**

- Pandas is a Python library that helps us to deal with dataSets as .csv Excel files.
- We will use a dataSet called Titanic that have the information about it's passengers and are they survived or not.
- Let's see how to read it in the next cell.

In [ ]:
titanicDataSet = pd.read_csv("titanic_data.csv")

- Next, we will use a function called head() to see the first five rows in the dataSet.
- Run the following cell to test it.

In [ ]:
titanicDataSet.head()

In [ ]:
titanicDataSet.info()

- Let's see the discription of the dataSet in the following cell.

In [ ]:
titanicDataSet.describe()

# **Congratulations!**

- You have completed your first task, hope you found it useful for you.

---
<center>
<font size=4, face='helvetica'>ML Committee</font><br>
<font size=5, color='#ffb71c'>S</font><font size=4, face='helvetica'>upport ASU </font></center>